<section class="probootstrap-cta">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Join a class now!</h2>
        <a href="/courses" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Enroll</a>
      </div>
    </div>
  </div>
</section>

<footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>About CIT</h3>
            <p>At CIT, we empower individuals and organizations to thrive in the digital age. As a
            leading provider of cutting-edge training and mentorship programs, we bridge the gap between academia and industry,
            fostering a culture of innovation, creativity, and excellence.</p>
            <h3>Social</h3>
            <ul class="probootstrap-footer-social">
              <li><a href="https://x.com/TechBro_Academy" target="_blank"><i class=""><img src="/img/x.png" alt="x-icon" width="20" style="translate: 0 -5px;"></i></a></li>
              <li><a href="https://web.facebook.com/profile.php?id=61571421645361" target="_blank"><i class="icon-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/crown_institute_" target="_blank"><i class="icon-instagram2"></i></a></li>
              <li><a href="https://www.linkedin.com/in/habib-hamza-a8448b1b2" target="_blank"><i class="icon-linkedin" ></i></a></li>
              <li><a href="https://youtube.com/@cit_0" target="_blank"><i class="icon-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-md-push-1">
          <div class="probootstrap-footer-widget">
            <h3>Links</h3>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/courses">Courses</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/teachers">Teachers</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Contact Info</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>Kayode Oduba Close , Divine homes, Thomas Estate, Ajah, Lagos</span></li>
              <li><i class="icon-mail"></i><span>info@citedu.org</span></li>
              <li><i class="icon-phone2"></i><span>+234-812-776-0960</span></li>
            </ul>
          </div>
        </div>
       
      </div>
      <!-- END row -->
      
    </div>

    <div class="probootstrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-left">
            <p>&copy; 2025 <a href="/">CIT</a>. All Rights Reserved. Designed &amp; Developed with <i class="icon icon-heart"></i> by <a href="/teachers">Dekunle_jr</a></p>
          </div>
          <div class="col-md-4 probootstrap-back-to-top">
            <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>