<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= pageTitle %></title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="description" content="Crown Institute of Technology" />
    <meta
      name="keywords"
      content="data science, web development, data analyst, UI&UX"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles-merged.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
</html>
